.profile{
    padding-top: 40px;
    max-width: 880px;
    margin: 0 auto;
    display: grid;
    grid-auto-columns: 120px 1fr minmax(50px, 150px);
    gap:30px;
    grid-template-areas:
    "avatar info add-button";
    align-items: center;
}

@media screen and (max-width: 768px) {
    .profile {
    grid-auto-columns: 1fr 1fr 1fr;
    grid-template-areas:
    "avatar" 
    "info" 
    "add-button";
    }
}