.profile{
    max-width: 880px;
    margin: 0 auto;
    display: grid;
    grid-auto-columns: 120px 1fr minmax(50px, 150px);
    gap:30px;
    grid-template-areas:
    "avatar info add-button";
    align-items: center;
    padding: 40px 10px 0;
}

@media screen and (max-width: 768px) {
    .profile {
    gap: 0;
    grid-auto-columns: 1fr;
    grid-template-rows: 120px 1fr 122px;
    grid-template-areas:
    "avatar" 
    "info" 
    "add-button";
    }
}