.elements__like_active{
    cursor: pointer;
    background-image: url(../../../images/like/black-like.png);
    width: 100%;
    max-width: 22px;
    height: 19px;
}

.elements__like_active:hover{
    opacity: 0.5;
}