.elements{
    padding-top: 47.25px;
    width: 100%;
    max-width: 880px;
    display: grid;
    margin: 0 auto;
    grid-template-columns: 32% 32% 32%;
    gap: 17px;
}

@media screen and (max-width: 767px) {
    .elements {
        grid-template-columns:  50% 50%;
    }
}

@media screen and (max-width: 479px) {
    .elements {
        grid-template-columns:  1fr;
        justify-content: center;
        gap: 20px;
    }
}