.popup__title{
    padding-top: 34px;
    margin: 0 0 43px 36px;
    font-family: Inter, Arial, sans-serif;
    font-style: normal;
    font-weight: 900;
    font-size: 24px;
    line-height: 29px;
    color: #000000;
    align-self: start;
}

@media screen and (max-width: 767px) {
    .popup__title {
        font-size: 18px;
        padding-top: 25px;
        margin: 0 auto 66px;
    }
}